
<!--
	light b0x
	an html web page design by 
	dabugas <dabugas@ufies.org>
	http://dabugas.cjb.net
 -->


<html>

<!-- page title -->
<head>
	<title> [ foobar ] - [ home ] </title>
</head>

<!-- set up basic colors -->
<body bgcolor="#ffffff" text="#8d9aa4" link="#babbe1" vlink="#babbe1" alink="#8d9aa4">

<!-- create basic layout -->
<table width=70% border=0 align=center>
<tr>
	<td>
<!-- draw title box -->
		<table cellpadding=0 cellspacing=0 border=0 align=right>
		<tr>
			<td bgcolor="#bad2e2">
				<table width="100%" cellpadding=3 cellspacing=1 border=0>
				<tr>
					<td bgcolor="#dfeff7">
					<b>
						<font color="#bad2e2"> [ </font>					
<!-- site name -->
						f o o b a r
						<font color="#bad2e2"> ] - [ </font>
<!-- current page -->
						home
						<font color="#bad2e2"> ]</font>						
					</b>
				</tr>
				</table>
			</td>
		</tr>
		</table>
	</td>
	<td>
	&nbsp;
	</td>
</tr>
<tr>
	<td  valign="top" width=80%>
<!-- draw content box -->	
		<table cellpadding=0 cellspacing=0 border=0 width=100%>
		<tr>
			<td bgcolor="#bad2e2">
				<table width="100%" cellpadding=3 cellspacing=1 border=0 >
				<tr>
					<td bgcolor="#dfeff7">
<!-- news post heading -->
						<p><b><font color="#bad2e2"> [ </font>
						cool link
						<font color="#bad2e2"> ] - [ </font>
						09.28.2000
						<font color="#bad2e2"> ] </font>
						</b>
<!-- news post content -->
						<br>Let's say, for the sake of an example, that I've found a cool site. I'd like to <a href="index.html">link to it</a>. So, <a href="index.html">this</a> is what a link looks like. Cute, isn't it? =)
<!-- news post heading -->
						<p><b><font color="#bad2e2"> [ </font>
						test's suck (yay for procrastination)
						<font color="#bad2e2"> ] - [ </font>
						09.28.2000
						<font color="#bad2e2"> ] </font>
						</b>
<!-- news post content -->
						<br>Blah. I have a physics test today. I haven't studied yet and I don't even what it's about. Uhm... I think it's the first chapter but I could be wrong. Better get up and study. Or something.
						<br>Then again... the test's in 4 hours. Plenty of time. Maybe I'll have a quick snack, or maybe I'll post this to OSWD (if you're reading this, then obviously I didn't study much :)
<!-- news post heading -->
						<p><b><font color="#bad2e2"> [ </font>
						first try out
						<font color="#bad2e2"> ] - [ </font>
						09.28.2000
						<font color="#bad2e2"> ] </font>
						</b>
<!-- news post content -->
						<br>Just finishing off this desing. It seems to work. Cool =)
					</td>
				</tr>
				</table>
			</td>
		</tr>
		</table>
	</td>
<!-- draw site navigation (menu) box -->		
	<td valign=top width=20%>
		<table cellpadding=0 cellspacing=0 border=0>
		<tr>
			<td bgcolor="#bad2e2">
				<table width="100%" cellpadding=3 cellspacing=1 border=0>
				<tr>
					<td bgcolor="#dfeff7">
<!-- the choices in the menu -->					
				    <font color="#bad2e2">> </font><a href="index.html">home</a>
					<br><font color="#bad2e2">> </font><a href="index.html">about</a>
					<br><font color="#bad2e2">> </font><a href="index.html">apps</a>
					<br><font color="#bad2e2">> </font><a href="index.html">music</a>
					<br><font color="#bad2e2">> </font><a href="mailto:no_one_at_nowhere_com">e-mail</a>
					</td>
				</tr>
				</table>
			</td>
		</tr>
		</table>
	</td>
</tr>
<tr>
	<td>
<!-- draw copyright box -->						
		<table cellpadding=0 cellspacing=0 border=0>
		<tr>
			<td bgcolor="#bad2e2">
				<table width="100%" cellpadding=3 cellspacing=1 border=0>
				<tr>
					<td bgcolor="#dfeff7">
					&copy 2000 by foo d00d
					</td>
				</tr>
				</table>
			</td>
		</tr>
		</table>
	</td>
	<td>&nbsp</td>
</tr>

</table>

</body></html>
